<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpi.turbo">

    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 修改快捷图标 -->
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <!--  任务栈  -->
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <application>
        <activity
            android:name="com.androidpi.turbo.ui.activity.TurboActivity"
            android:label="@string/turbo_title_activity_turbo"
            android:theme="@style/TurboAppTheme.NoActionBar"
            android:icon="@mipmap/turbo_ic_turbo_launcher"
            android:roundIcon="@mipmap/turbo_ic_turbo_launcher_round"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.turbo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TurboService">
            <intent-filter>
                <action android:name="com.androidpi.turbo.service.TurboService"/>
            </intent-filter>
        </service>
        <service android:name=".service.ProfileService">
            <intent-filter>
                <action android:name="com.androidpi.turbo.service.ProfileService"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="${applicationId}.turbo"
            android:name=".contentprovider.TurboInstaller"/>
    </application>

</manifest>